## Java
*.class
*.jar
*.war
*.ear

## Maven
target/
jar/
dependency-reduced-pom.xml

## NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/

## Linux
*~